@import "tailwindcss";

/* Light mode base colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --pastel: #fdffe8;
  --pastel-light: #fefff2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-pastel: var(--pastel);
  --color-pastel-light: var(--pastel-light);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-fira-code);
}

/* Dark mode base colors */
@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}